<!DOCTYPE html>
<html ng-app="PersonalManagementCtr" ng-controller="AppCtrl">
  <head>
    <title>ManagementApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <ng-view></ng-view>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
